@tailwind base;
@tailwind components;
@tailwind utilities;
*,
::before,
::after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-width: 0;
    border-style: solid;
    margin: 0;
    padding: 0;
}

html {
    -webkit-text-size-adjust: 100%;
    tab-size: 4;
    font-feature-settings: normal;
    scroll-behavior: smooth;
}

html[data-resizing="true"] *[data-transition="true"] {
    transition: none 0s ease 0s !important;
}